.destaques {
    width: 100%;
    min-width: 100vh;
}

.conteudosdestaques {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;

}

.conteudosdestaques div.video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;

}

.conteudosdestaques video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.conteudosdestaques div.textos {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.conteudosdestaques div.textos p {
    color: white;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    font-family: var(--fonteFira);
}

.textoh1h2 {
    font-family: var(--fonteFira);
    color: #Ffffff;
    font-size: 72px;
}

.textoh2 {
    text-align: center;
    font-weight: 500;
    margin: 0;
}

.textoh1 {
    font-weight: 900;
    margin: 0;
}

.textoh1 {
    overflow: hidden;
    border-right: .1em solid transparent; /* Default to transparent */
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typing 3s steps(40, end), blink-caret .99s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    10% { border-color: orange; }
}



@keyframes blink-caret-h2 {
    from, to { border-color: transparent; }
    10% { border-color: orange; }
}

/* Make sure to hide the caret after typing ends */
.textoh2.completed {
    border-right: none; /* Remove caret */
}


.link {
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonteMont);
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;

    background: #FF8C00;
    color: #Ffffff;
    border-radius: 15px;
    

}