
.roteiros{
    background-color: #504128;

}

.conteudo {
    padding: 20px 200px;
}

.roteirosH1 {
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDF6EA;
    font-family: var(--fonteFira);
    font-size: 48px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}