.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    background-color: #C19C61;
    color: var(--preto);
    font-family: var(--fonteFira);
}

.textoh2 {
    font-weight: 400;
}

.imagemBumbaBoi {
    width: 10%;
}

.cabecalho ul {
    display: flex;
    gap: 32px;
    padding: 0 64px;
}

.cabecalho li {
    display: flex;
}

.links {
    text-decoration: none;
    color: var(--preto);
    font-size: 22px;
    font-weight: 400;
}

.menuIcon {
    display: none;
    /* Ocultar o ícone do menu em telas maiores */
    cursor: pointer;
}

@media (max-width: 1100px) {
    .imagemBumbaBoi {
        width: 138px;
        height: 100px;
    }
}

@media (max-width: 950px){
    .textoh2{
        display: none;
    }
}

@media (max-width: 600px) {

    .menuIcon {
        display: block;
        /* Mostrar o ícone do menu em telas menores */
    }

    .links__cabecalho ul {
        display: none;
        /* Ocultar a lista de links em telas menores */
    }

    .links__cabecalho ul.menuAberto {
        display: flex;
        /* Exibir a lista de links quando o menu estiver aberto */
        flex-direction: column;
        gap: 16px;
        background-color: #C19C61;
        padding: 16px;
    }
}